<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>markdown-doc</title>
  <style>
    section{
      font-family: Helvetica Neue, Helvetica, Arial;
      width: 500px;
      border:1px solid #ddd;
      margin: 50px auto;
      text-align: center;
    }
    h2{
      font-size: 60pt;
      margin:0;
    }
    p{
      font-size: 180pt;
      margin: 0;
    }
  </style>
</head>
<body>
<section>
  <h2>You know</h2>
  <p>404</p>
</section>
</body>
</html>