<%- include ../header %>
<link rel="stylesheet" href="/libs/mirror/lib/codemirror.css">
<link rel="stylesheet" href="/libs/mirror/addon/display/fullscreen.css">
<script src="/libs/mirror/lib/codemirror.js"></script>
<script src="/libs/mirror/mode/markdown/markdown.js"></script>
<script src="/libs/mirror/addon/display/fullscreen.js"></script>
<section class="pg-doc page-panel">
  <h2>Doc Post</h2>
  <% if(locals.error){ %>
  <div class="alert alert-error">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <strong><%= error %></strong>
  </div>
  <% } %>
  <form class="" method="post">
    <div class="control-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
        <input type="text" id="title" class="input-title" name="title" placeholder="title">
        <a id="topbt" class="btn">Top</a>
        <input type="hidden" id="input-top" name="top" value="false"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="content">Content (Press F11 when cursor is in the editor to toggle full screen editing)</label>
      <div class="controls">
        <textarea name="content" id="editor"></textarea>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>
  </form>
</section>
<script src="/js/pages/edit.js"></script>
<%- include ../footer %>
